body{
    padding: 0px;
    margin: 0px;
}
.container{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    max-width: 450px;
    height: 600px;
    border: 2px solid black;
    background-color: black;
    padding: 5px;
    border-radius: 10px;
}
.input{
    max-width: 400px;
    height: 60px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    /* border-radius: 10px; */
}
.buttonRows{
    max-width: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    margin-top: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    font-size: 22px;
    padding: 30px;
    font-weight: bold;
    border-radius: 5px;
    background-color: white;
}
.equal{
    max-width: 240px;
    width: 240px;
    background-color: red;
    color: white;
}
.clear{
    background-color: red;
    color: white;
}